---
import Layout from "@/layouts/Layout.astro";
import Image from "astro/components/Image.astro";
---

<Layout>
    <main class="space-y-4">
        <section class="space-y-2">
            <h1>About</h1>
            <div>
                <p>I work on money tech, mostly bitcoin.</p>
                <p>Savings, privacy, opting-out stuff.</p>
            </div>
            <a href="/about">about me</a>
        </section>

        <!-- <section class="space-y-2">
            <h1>Current</h1>
            <div>
                <p><i>Lemondrop</i>, btc savings for altcoiners.</p>
                <p><i>Zoomer401k</i>, stacking sats cross-chain.</p>
                <p><i>Bitcoin Layers</i>, bitcoin L2 research hub.</p>
            </div>
        </section>

        <section class="space-y-2">
            <h1>Previous</h1>
            <div>
                <p>Tradfi savings products for independents.</p>
                <p>BTC -- fiat on-ramps and off-ramps.</p>
                <p>BTC gift cards and redemptions.</p>
            </div>
        </section> -->

        <section class="space-y-2">
            <h1>Contact</h1>
            <div>
                <p>
                    Twitter. <a
                        href="https://x.com/bolander72"
                        target="_blank"
                        rel="noopener noreferrer">link</a
                    >
                </p>
                <p>
                    GitHub. <a
                        href="https://github.com/bolander72"
                        target="_blank"
                        rel="noopener noreferrer">link</a
                    >
                </p>
            </div>
        </section>

        <Image
            src="/1241.png"
            alt="Lemon Drop"
            class="h-full w-auto rounded-lg"
            width={100}
            height={100}
        />
    </main>
</Layout>
